
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5603ad;
    padding: 14px 40px;
}

.logo {
    color: #8367C7;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
.menu a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    padding: 10px 16px;
    margin-left: 10px;
    border-radius: 6px;
    transition: 0.3s;
    background-color:blue;
}

.menu a:hover {
    background-color: #03000b
}

body {
    background-color: #d21313;
}

form  {
    align-items: center;
}

.outside{
    display: flex;
}

.left{
    color: #5603ad;

    background-color: #5603ad;
    border: 2px solid black;
    padding: 20px;
}
.left2{
  background-color: #8367C7;
  border: 2px solid black;
  padding: 20px;
}
.center{

    background-color: #8367C7;
    border: 2px solid black;
    padding: 20px;
}

.right {
    color: #5603ad;

    background-color: #5603ad;
    border: 2px solid black;
    padding: 20px;
}
.right2 {
  background-color: #8367C7;
  border: 2px solid black;
  padding: 20px;
}
